//
// Variables
// --------------------------------------------------
@import "fonts/comfortaa/stylesheet.css";
@import "fonts/badscript/stylesheet.css";
@import "fonts/seymour/stylesheet.css";


// Typography
// -------------------------
@baseFontFamily:        'AutourOneRegular', 'ComfortaaBold';
@scriptFontFamily:      'BadScriptRegular';

@headerFontFamily:      'groboldregular', 'SeymourOneRegular';
@controlFontFamily:     'groboldregular', 'SeymourOneRegular';